* { box-sizing: border-box }

:root {
  --sans: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue,
    Fira Sans, sans-serif;
  --mono: 'Courier New', Courier, 'Ubuntu Mono', 'Liberation Mono', monospace;
  --link: #0074d9;
  --bg-alt: #f0f0f0;
  --bg: #fff;
  --fg: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link: #44bbff;
    --bg-alt: #333;
    --bg: #1e1f20;
    --fg: #fff;
  }
}

body {
  margin: 0;
  font: var(--sans);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  color: var(--fg);
}

img { border: none; max-width: 100% }

a { color: var(--link); text-decoration: none }
a:hover { text-decoration: underline }

pre {
  font: 1em/1.6 var(--mono);
  background: var(--bg-alt);
  padding: 1em;
  overflow: auto;
  border-radius: 8px;
}

code { font: 1em/1.6 var(--mono) }

blockquote { border-left: 5px solid var(--bg-alt); padding: 1em 1.5em; margin: 0 }

hr { border: 0; border-bottom: 1px solid var(--fg) }

h1, h2, h3, h4, h5, h6 { margin: 0.6em 0; font-weight: normal }
h1 { font-size: 2.625em; line-height: 1.2 }
h2 { font-size: 1.625em; line-height: 1.2 }
h3 { font-size: 1.3125em; line-height: 1.24 }
h4 { font-size: 1.1875em; line-height: 1.23 }
h5, h6 { font-size: 1em; font-weight: bold }

ul, ol { padding-left: 2.1em }

table { border-collapse: collapse; border-spacing: 0; margin: 1em 0 }
th, td { text-align: left; vertical-align: top; border: 1px solid; padding: 0.4em }
thead, tfoot { background: var(--bg-alt) }
main {
  margin: 0 auto;
  max-width: 46rem;
  padding: 0 20px;
}
@media (max-width: 481px) {
  body { font-size: 18px }
  main { width: 98.5% }
}
